<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvs-app:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-mvs-app</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-mvs-app</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvs-app" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.postgresql:postgresql:42.3.3" />
          <element id="library" level="project" name="Maven: org.checkerframework:checker-qual:3.5.0" />
          <element id="library" level="project" name="Maven: org.hibernate.validator:hibernate-validator:7.0.4.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.4.1.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.5.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.18" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.18" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring5:3.0.11.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.0.11.RELEASE" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: jakarta.validation:jakarta.validation-api:2.0.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-mvs-app/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-mvs-app/web/Web" />
    </root>
  </artifact>
</component>